@import './base.css';

a {
  color: var(--vt-c-link);
  text-decoration: none;
}

/* https://nerdcowboy.com/blog/sliding-underlined-links/ */
.hover-link {
  color: var(--vt-c-link);
  text-decoration: none;
  background-image: linear-gradient(var(--vt-c-link), var(--vt-c-link));
  background-size: 0% 0.1em;
  background-position-y: 105%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.hover-link:hover,
.hover-link:focus,
.hover-link:active {
background-size: 100% 0.1em;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  width: 100%;
  height: 100px;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 20px;
}

.card-link {
  color: var(--color-text)
}

.card-component {
  padding: 0.25rem;
  margin: 0.25rem
}

.card-heading {
  font-size: large;
}

.card-flag {
  border-radius: 15px;
}

.filter {
  filter: invert(91%) sepia(0%) saturate(217%) hue-rotate(185deg) brightness(95%) contrast(95%);
  width: 125px;
}

.mini-flag {
  width: 25px;
  border-radius: 5px;
  vertical-align: middle;
}