@import './base.css';

a {
  color: var(--vt-c-link);
  text-decoration: none;
}

/* https://nerdcowboy.com/blog/sliding-underlined-links/ */
.hover-link {
  color: var(--vt-c-link);
  text-decoration: none;
  background-image: linear-gradient(var(--vt-c-link), var(--vt-c-link));
  background-size: 0% 0.1em;
  background-position-y: 105%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.hover-link:hover,
.hover-link:focus,
.hover-link:active {
background-size: 100% 0.1em;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  width: 100%;
  height: 8rem;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  padding-left: 0.5rem;
}

.card-link {
  color: var(--color-text)
}

.card-component {
  padding: 0.25rem;
  margin: 0.25rem
}

.card-heading {
  font-size: large;
}

.card-flag {
  border-radius: 15px;
  border: 1px solid var(--color-border)
}

.card-button {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid var(--vt-c-box-border);
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.card-button:hover {
  transform: translateX(-1px) translateY(-1px);
  box-shadow: 1.5px 1.5px 0px 0px var(--color-border);
}

.filter {
  filter: invert(91%) sepia(0%) saturate(217%) hue-rotate(185deg) brightness(95%) contrast(95%);
  width: 125px;
}

.mini-flag {
  width: 30px;
  border-radius: 5px;
  vertical-align: middle;
  border: 1px solid var(--color-border)
}

.headshot {
  border-radius: 50%;
  height: 3rem;
  border: 2px solid var(--color-border);
  padding: 2px
}

.headshot:hover {
  border: 2px solid var(--color-border-hover);
  cursor: pointer;
}

.tabs {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  border-bottom: 2px solid var(--vt-c-box-border);
}

.tab {
  position: relative;
  padding: 10px;
  background: var(--color-border);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 35px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: -10px;
  cursor: pointer;
}

.tab:hover {
  transform: translateX(-1px) translateY(-1px);
  box-shadow: 1.5px 1.5px 0px 0px var(--color-border);
}

.tab-link {
  color: var(--color-text);
}

.active-tab {
  background-color: var(--vt-c-box-border);
  color: var(--vt-c-text-dark-2)
}

.active-tab:hover {
  transform: translateX(-1px) translateY(-1px);
  box-shadow: 1.5px 1.5px 0px 0px var(--vt-c-box-border);
}

.heading-wrapper {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.draw-wrapper {
  display: flex;
  flex-direction: row;
  font-size: small;
  overflow-x: auto;
}

.round-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.draw-card-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-border);
  border-radius: 15px;
  padding: 5px;
  justify-content: center;
  padding-top: 1rem;
  height: 10rem;
  width: 20rem;
  margin: 1rem;
}

.card-component {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.component-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.component-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.small {
  margin-left: 0.2rem;
}

.flag-container {
  margin-left: auto;
}

.flag {
  width: 150px;
  border-radius: 15px;
  border: 1px solid var(--color-border)
}

.navigator {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}